* {
    font-family: 'Rubik', sans-serif;
}

:root {
    --primary-color: #3ebb7f;
}

img.chairperson-img {
    max-height: 400px;
    max-width: 400px;
}

div.chairperson-container {
    justify-content: space-between;
    padding: 40px 0px;
}

div.chairperson-img-container {
    width: 100%;
}

div.chairperson-desc-container {
    padding-top: 10px;
}

footer {
    color: white;
    min-height: 300px;
    background-color: var(--primary-color);
    margin-top: 32px;
}

footer>div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 48px 0;
}

.footer-link-container {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.gpw-card {
    padding: 32px;
    border-radius: 32px;
}



@media screen and (min-width: 768px) {
    img.chairperson-img {
        width: 400px;
    }

    div.chairperson-container {
        display: flex;
    }
}